#projects-container {
    background-image: url("../../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    scroll-snap-align: start;
}

#projects-color {
    height: 100vh;
    background-color: #ffffff63;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects{
    background-color: #0000009e;
    min-height: 700px;
    min-width: 1200px;
}

#projects h1 {
    font-family: "Source Code Pro";
    color: #AD8C2F;
    font-weight: 400;
    font-size: 70px;
}