#contact-container {
    background-image: url("../../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    scroll-snap-align: start;
}

#contact {
    height: 100vh;
    background-color: #ad8b2f63
    
}

#contact h1 {
    font-family: "Source Code Pro";
    color: #2F4AAE;
    font-weight: 400;
    font-size: 70px;
}