.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.App-header {
  background-color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fleur-img {
  height: 10px;
}
.fleur-div {
  width: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-navs, .nav-link, .right-navs {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.left-navs, .right-navs {
  flex-basis: 25%;
  justify-content: space-between;
}

h3 {
  color: #957E4D;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "bodoni";
  font-size: 22px;
}