.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

.App-header {
  /* background-color: black; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.tablet-header{
  height: 67px;
  justify-content: start;
}

.tablet-logo {
  height: 50px;
  opacity: 0.5;
  padding-left: 15px;
  padding-top: 7px;
}
.fleur-img {
  height: 10px;
}
.fleur-div {
  width: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("./images/black-texture.jpg");
  background-size: cover;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  min-width: 992px;
}

.left-navs, .nav-link, .right-navs {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.nav-link{
  cursor: pointer;
}

.left-navs, .right-navs {
  flex-basis: 25%;
  justify-content: space-between;
}

h3 {
  color: #957E4D;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "bodoni";
  font-size: 22px;
}